.has-scrollbar {


    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    padding-bottom: 40px;

    &::-webkit-scrollbar {
        height: 12px;

    }

    &::-webkit-scrollbar {
        height: 12px;

    }

    &::-webkit-scrollbar-button {
        width: calc(25% - 80px);
    }

    &::-webkit-scrollbar-track {
        outline: 2px solid $deep-saffron;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb {
        border: 3px solid $cultured;
        border-radius: 50px;
    }
}



//Animation


.abs-img {
    position: absolute;
    transform: scale(1);
}

.scale-up-anim {
    animation: scaleUp 1s linear infinite alternate;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}


//Section Wrapper

.section__text-wrapper {

    display: flex;
    flex-direction: column;
    gap: 10px;

    text-align: center;
    margin: 0 auto;

    &__subtitle {

        font-weight: $fw-500;
        color: $cinnabar;
    }

    &__title {
        font-weight: $fw-600;
        font-size: $fs-1;
        color: $black_95;

        max-width: 300px;
        line-height: 40px;

        margin: 0 auto;


        @include xl {
            font-size: 4rem;
            max-width: 400px;
            line-height: 50px;
        }

        span {

            color: $dark-orange;
        }

    }

    &__p {
        max-width: 520px;


        @include md {
            max-width: 480px;
        }


        @include xl {
            max-width: 555px;
        }

    }
}




/************************Section Hero************************/
/************************Section Hero************************/
/************************Section Hero************************/


.hero {

    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    padding-block: 145px 60px;
    text-align: center;
    position: relative;
    overflow: hidden;

    @include lg {
        padding-top: 165px;
    }

    @include xl {
        padding-top: 185px;

    }





    &::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/hero-bg-shape.png');
        z-index: 1;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        pointer-events: none;
        opacity: 0;


        @include md {
            opacity: 1;
        }

        @include xl {
            background-size: auto;
            left: 130px;
        }

        @include xxl {
            left: 130px;
        }

        @include dsm {
            left: 0px;
        }



    }






    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;






        @include sm {
            margin: 0 15px;
        }

        @include md {
            margin: 0 20px;
            align-items: flex-start;
            justify-content: flex-start;
        }

        @include lg {
            margin: 0;
        }


        @include xl {
            width: calc(100% + 30px);

        }

    }


    &__banner {

        display: none;






        @include md {
            display: block;
            z-index: 2;



            .banner__img {
                position: absolute;
                bottom: -45px;
                right: 0px;
                z-index: 4;

                width: 340px;


                img {
                    width: 100%;
                }

                @include lg {
                    width: 460px;
                    bottom: -70px;
                }

                @include xl {
                    width: 560px;

                    bottom: -105px;
                }

                @include xxl {
                    width: 640px;
                    bottom: -125px;
                }

                @include dsm {
                    width: 700px;
                    right: -150px;
                }
            }

            .banner__bg {
                position: absolute;
                bottom: -18px;
                right: 30px;

                width: 300px;
                z-index: 3;


                img {
                    width: 100%;

                }

                @include lg {
                    width: 630px;
                    right: -90px;
                    bottom: -100px;
                }

                @include xl {
                    width: 700px;
                }

                @include xxl {
                    width: 850px;
                    right: -125px;
                    bottom: -180px;
                }

                @include dsm {
                    right: -270px;
                    width: 900px;
                }
            }
        }
    }



    &__text {

        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;

        max-width: 340px;


        @include md {
            align-items: flex-start;
            text-align: left;
            max-width: 400px;

        }

        @include lg {
            max-width: 500px;
        }


    }

    &__subtitle {
        color: $dark-orange;
        font-family: $ff-shadows-into-light;
        font-size: $fs-2;
        letter-spacing: 1px;

        @include sm {
            font-size: $fs-1;
        }




    }

    &__title {
        color: $champagne-pink;
        font-size: $fs-1;
        margin-inline: auto;
        font-weight: $fw-600;


        @include sm {
            font-size: 4rem;
        }

        @include lg {
            font-size: 6.5rem;
            line-height: 80px;
        }

    }

    &__p {
        color: $desert-sand;

        @include lg {
            font-size: 2.0rem;
        }
    }


}


/************************Section Promo************************/
/************************Section Promo************************/
/************************Section Promo************************/



.promo {

    background-color: #F9F6F0;


    &__content {
        overflow: hidden;

        padding: 60px 0;


        @include sm {
            margin: 0 0px;
        }

        @include md {
            margin: 0 20px;
            align-items: flex-start;
            justify-content: flex-start;
        }

        @include lg {
            margin: 0;
        }


        @include xl {
            width: calc(100% + 17.0px);

        }
    }

    &__item {


        @include xl {
            right-left: 25px;
        }
    }


    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        padding: 40px 0;
        max-width: 360px;
        position: relative;


        cursor: pointer;

        background-color: $white;
        box-shadow: $shadow-2;
        z-index: 1;


        min-width: 100%;


        @include sm {
            min-width: calc(50% - 5px);

        }

        @include lg {
            min-width: calc(33.33% - 6.66px);
        }

        @include xl {
            min-width: calc(25% - 19px);
        }

        scroll-snap-align: start;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: $deep-saffron;
            clip-path: $clip-path-1;
            transform: scaleY(0.3);
            transform-origin: bottom;
            z-index: -1;
            transition: $transition-1;


        }

        &:hover::after {
            clip-path: $clip-path-2;
            transform: scaleY(1);



        }

        &:hover {
            color: black;

            .card__icon {

                path {
                    fill: $white;
                }

            }

        }



    }




    .card {




        &__text {
            max-width: 300px;

        }

        &__title {
            font-family: $ff-rubik;
            color: $rich-black-fogra-29;
            font-size: $fs-2;
            font-weight: $fw-600;
        }

        &__img {

            height: 260px;
            padding: 0 30px;



            img {

                height: 100%;
            }
        }
    }
}


/************************Section About************************/
/************************Section About************************/
/************************Section About************************/


.about {

    &__content {

        display: flex;
        flex-direction: column;
        padding: 120px 0;





        @include sm {
            margin: 0 15px;
        }

        @include md {
            margin: 0 20px;

            flex-direction: row;
            gap: 20px;



        }

        @include lg {
            margin: 0;
            justify-content: space-around;




        }


        @include xl {

            justify-content: space-between;


        }


    }

    &__banner {
        display: flex;
        position: relative;
        margin-bottom: 40px;







        .banner__img {

            display: flex;
            width: 100%;
            height: 100%;

            @include md {
                max-width: 420px;
                max-height: 355px;
            }

            max-width: 500px;
            max-height: 455px;
            margin: 0 auto;

            object-fit: cover;


            @include xl {
                max-width: 600px;
                max-height: 555px;
            }


            img {
                object-fit: cover;
                width: 100%;
                height: 100%;



                @include md {
                    width: 100%;
                    height: 100%;
                    object-fit: unset;
                }
            }
        }

        .banner__wrapper {
            position: absolute;
            display: flex;
            width: 50%;
            height: 50%;
            z-index: 2;


            max-width: 200px;
            max-height: 200px;

            top: 0;
            left: 50%;
            transform: translateX(-50%);


            img {
                width: 100%;
                height: 100%;
            }
        }


    }

    &__text {



        display: flex;
        flex-direction: column;
        gap: 20px;

        justify-content: center;
        align-items: center;



        @include md {
            align-items: flex-start;
        }

        @include lg {
            align-self: start;
        }





    }

    &__table {
        display: flex;
        flex-direction: column;
        gap: 5px;

        margin-bottom: 10px;

        @include md {
            gap: 15px;
        }


    }

    &__item {
        display: flex;
        gap: 15px;
        align-items: center;
        text-align: center;
        justify-content: center;

        @include md {
            text-align: left;
            justify-content: left;
            margin-right: auto;

        }



        i {
            color: $white;
            width: 22px;
            height: 22px;
            background-color: $dark-orange;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            color: $black;
            font-weight: $fw-500;
            letter-spacing: 1.2px;

            @include lg {
                font-size: $fs-2;
            }
        }
    }


    .btn--header {


        @include md {

            display: flex;
            margin-right: auto;
        }
    }


    .section__text-wrapper {


        @include md {
            text-align: left;

            margin-right: auto;

            &__title {

                margin: unset;
            }
        }


    }

}



/************************Section Dishes************************/
/************************Section Dishes************************/
/************************Section Dishes************************/


.dishes {

    background-color: #F9F6F0;

    &__content {

        display: flex;
        flex-direction: column;
        padding: 120px 0;





        @include sm {
            margin: 0 15px;
        }

        @include md {
            margin: 0 20px;

            gap: 20px;



        }

        @include lg {
            margin: 0;
            justify-content: space-around;




        }


        @include xl {

            justify-content: space-between;


        }


    }


    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        flex-direction: row;


        margin: 40px 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        gap: 40px;


        align-items: center;

        @include md {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

        }

        @include lg {
            justify-content: space-between;

        }


    }


    &__card {

        padding: 40px;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: $white;
        box-shadow: var(--shadow-2);


        @include md {
            width: calc(50% - 20px);
        }

        @include lg {

            width: calc(33% - 30px);


        }

        @include xl {
            width: unset;

        }


        position: relative;

        &:hover {

            .btn--menu {
                opacity: 1;
                transform: translate(0, -50%);
                top: calc(50%);
            }
        }
    }


    .card {



        &__banner {

            position: relative;

            margin-bottom: 20px;

        }

        &__img {

            width: 260px;
            height: 260px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &__discount {
            position: absolute;
            top: -26px;
            left: 0;
            background-color: $cinnabar;
            z-index: 2;



            color: $white;
            padding: 0 10px;
        }


        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }




    }


    .wrapper {



        &__box-reating {
            display: flex;
            gap: 20px;
        }

        &__name {
            font-weight: $fw-500;
        }

        &__rating {
            display: flex;
            color: $deep-saffron;
            gap: 5px;
        }

        &__title {
            font-size: $fs-2;
            font-weight: $fw-600;

            color: $black;
        }

        &__price {
            display: flex;
            gap: 15px;
        }


    }


    .price {

        &__title {
            color: $cinnabar;
            font-weight: $fw-600;
        }

        &__out {
            color: $spanish-gray;
            font-weight: $fw-600;

            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 120%;
                height: 1px;
                background-color: $spanish-gray;
                left: -10%;
                top: 50%;
                transform: translateY(-50%);

            }
        }

        &__present {
            color: $deep-saffron;
            font-weight: $fw-600;




        }
    }


    .btn--menu {
        position: absolute;
        left: 20%;
        top: calc(50% + 15px);


        width: 168px;
        display: flex;



    }
}


/************************Section CTA************************/
/************************Section CTA************************/
/************************Section CTA************************/



.cta:before,
.cta::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-repeat: repeat no-repeat;
    background-position: bottom;

}



.cta {

    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;




    position: relative;


    &:before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 25px;
        background-repeat: repeat no-repeat;


    }


    &::before {
        top: 0;
        background-image: url('../img/shape-white.png');
        transform: scaleY(-1);
    }


    &::after {
        bottom: 0;
        background-image: url("../img/shape-grey.png");
    }





    &__content {

        padding: 80px 0 0 0;


        @include sm {
            margin: 0 15px;
        }

        @include md {
            display: flex;
            margin: 0 20px;
            flex-direction: row;

        }

        @include lg {
            margin: 0;
            justify-content: space-between;

        }


        @include xl {

            justify-content: space-between;

        }

    }

    .section__text-wrapper {

        margin-bottom: 40px;




        @include md {

            align-self: flex-start;
            align-items: flex-start;
            text-align: left;

            width: 50%;
        }

        @include lg {
            align-self: center;
        }




        &__title {
            max-width: unset;
            margin-bottom: 20px;
            color: $white;
            font-size: 3rem;

            @include md {
                font-size: 3.2rem;


            }

            @include lg {
                font-size: 4rem;
                // width: 570px;

            }



        }

        &__p {
            color: $white;
            margin-bottom: 20px;

            @include sm {
                align-self: center;

            }

            @include md {
                align-self: unset;
            }




        }

        .btn {
            margin: 0 auto;

            @include md {
                margin: unset;
            }
        }


    }

    .cta__banner {

        position: relative;
        display: flex;

        @include md {

            width: 50%;
            align-self: center;
        }

        @include lg {
            width: unset;
        }

    }

    .cta__img {

        max-width: 700px;
        max-height: 637px;

        @include lg {
            transform: translate(60px, 20px);

        }




        @include xl {
            transform: translate(120px, 20px);
        }



        img {
            width: 100%;
            object-fit: contain;

        }
    }

    .cta__wrapper {
        position: absolute;
        top: 0%;
        left: 10%;


        @include md {
            width: 140px;
            height: 140px;
        }



        width: 220px;
        height: 220px;



        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


/************************Section Delivery************************/
/************************Section Delivery************************/
/************************Section Delivery************************/


.delivery {



    &__content {

        padding: 80px 0 0 0;


        @include sm {
            margin: 0 15px;
        }

        @include md {
            display: flex;
            margin: 0 20px;

            flex-direction: row;



        }

        @include lg {
            margin: 0;


        }

    }

    .section__text-wrapper {

        gap: 20px;




        @include md {
            width: 55%;
            margin: unset;
        }


        @include xl {
            align-self: center;
        }



        &__title {

            text-align: left;
            max-width: unset;

            @include sm {
                max-width: 350px;
                margin: unset;


            }

            @include md {
                max-width: 270px;
            }

            @include lg {
                font-size: 4rem;
                max-width: 330px;
                line-height: 55px;
            }

            @include xl {
                font-size: 4.2rem;
                max-width: 470px;
            }

            span {
                padding-left: unset;
            }
        }

        &__p {
            text-align: left;
        }

        margin-bottom: 40px;

    }

    .delivery__banner {
        position: relative;
        aspect-ratio: 1 / 0.86;




        @include md {
            width: 65%;
        }



    }

    .delivery__img {
        position: absolute;
        top: 0;
        left: 0;

        width: 700px;
        height: 602px;

        @include sm {


            img {
                width: 60%;
                height: 60%;
            }

            transform: translateX(100px);

        }

        @include md {

            top: 40px;
            left: -100px;


            img {
                width: 45%;
                height: 45%;
            }

            transform: translateX(140px);
        }

        @include lg {

            top: 20px;
            left: unset;


            img {
                width: 60%;
                height: 60%;
            }

            transform: translateX(40px);
        }

        @include xl {



            img {
                width: 90%;
                height: 90%;
            }
        }



        object-fit: cover;

        transform: translateX(-80px);
        transition: $transition-2;

        img {
            width: 45%;
            height: 45%;
            object-fit: cover;
        }

    }

    .delivery__bg {

        max-width: 1000px;
        max-height: 880px;




        @include md {

            transform: translateX(80px);
        }


        @include lg {
            transform: translateX(0);
        }


        @include xl {
            img {
                width: 100%;
                height: 100%;

            }
        }



        img {
            width: 85%;
            height: 85%;

        }
    }
}


/************************Customers Delivery************************/
/************************Customers Delivery************************/
/************************Customers Delivery************************/


.customers {

    background-color: #F9F6F0;

    &__content {
        display: flex;
        flex-direction: column;
        padding: 80px 0;


        @include sm {
            margin: 0 15px;
        }

        @include md {
            margin: 0 20px;

            gap: 20px;



        }

        @include lg {
            margin: 0;



        }



    }

    .section__text-wrapper {
        margin-bottom: 40px;

        &__title {

            @include md {
                max-width: 400px;
            }
        }




    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        gap: 30px;


    }

    &__box {
        box-shadow: $shadow-1;

        background-color: $white;



        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        gap: 15px;

        min-width: 100%;
        scroll-snap-align: start;


        @include sm {
            min-width: calc(50% - 20px);
        }

        @include lg {
            min-width: calc(33% - 20px);
        }

    }


    .box {




        &__image {

            // min-width: max-content;

            max-width: 80px;
            max-height: 80px;

            border-radius: 50px;




            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }


        &__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        &__title {
            color: $black;
            font-weight: $fw-600;
            font-size: $fs-3;
        }


    }

    .wrapper__rating {
        color: $deep-saffron;

        display: flex;
        gap: 10px;
    }


    .has-scrollbar {

        @include lg {
            &::-webkit-scrollbar {
                display: none;



            }

        }

    }

}


/************************Gallery Section************************/
/************************Gallery Section************************/
/************************Gallery Section************************/


.gallery {

    background-color: #F9F6F0;



    &__content {
        padding: 0px 0 40px 0;



        @include sm {
            margin: 0 15px;
        }

        @include md {
            margin: 0 20px;

        }

        @include lg {
            margin: 0;

        }


    }

    &__banner {
        display: grid;
        gap: 10px;


        @include md {
            grid-template-columns: repeat(4, 1fr);

            .banner-lg {
                grid-column: 1/3;
                grid-row: 1/3;
            }

            .banner-md {
                height: 220px;
                grid-column: 3/5;
                grid-row: 2/5;
            }
        }
    }

    .banner-lg {
        height: 430px;


    }


    .banner-md {
        height: 240px;

        .banner__content {
            left: 50%;





            .banner__title {
                font-size: 2.2rem;
                line-height: 25px;
            }
        }


    }


    .banner-sm {
        height: 200px;


        .banner__content {

            max-width: 160px;


            .banner__title {
                font-size: 2.2rem;
                line-height: 25px;

            }
        }

    }


    .banner__wrapper {
        position: relative;
        height: 100%;
        box-shadow: $shadow-2;
        overflow: hidden;

        cursor: pointer;

        border: 1px solid black;




    }

    .banner {




        &__content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            right: 20px;
            max-height: calc(100% - 30px);

            color: $white;
            font-family: $ff-rubik;


            display: flex;
            flex-direction: column;
            gap: 10px;




        }

        &__title {
            font-size: $fs-1;
            font-weight: $fw-600;
            line-height: 40px;


            p {
                &:nth-child(1) {
                    font-size: 2.2rem;
                }

            }


        }



        &__img {
            width: 100%;
            height: 100%;



            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: $transition-2;


                background-color: $gainsboro;
                transform: scale(1);

                &:hover {
                    transform: scale(1.1);
                    transition: $transition-2;
                }
            }
        }
    }
}


/************************Section Blog************************/
/************************Section Blog************************/
/************************Section Blog************************/


.blog {

    background-color: #F9F6F0;

    &__content {

        padding: 120px 0;


        @include sm {
            margin: 0 15px;
        }

        @include md {

            margin: 0 20px;


        }

        @include lg {
            margin: 0;


        }
    }


    .section__text-wrapper {


        margin-bottom: 80px;




        &__title {
            max-width: 420px;

            margin-bottom: 10px;

        }

        &__p {
            margin: 0 auto;
            max-width: 400px;
        }
    }

    &__article {
        display: flex;
        flex-direction: column;
        background-color: $white;
        text-shadow: $shadow-2;
        gap: 30px;





        flex-wrap: wrap;


        @include md {
            flex-direction: row;
            justify-content: space-between;

        }




    }

    .article__wrapper {

        display: flex;
        flex-direction: column;

        gap: 25px;






        @include md {
            width: calc(50% - 50px);

        }

        @include lg {
            width: calc(33% - 25px);
        }



    }

    .article {



        &__box {
            padding: 0 20px 20px 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__img {
            position: relative;
            cursor: pointer;
            aspect-ratio: 1 /0.65;



            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            span {
                position: absolute;
                top: 20px;
                right: 20px;
                background-color: $dark-orange;
                color: $white;
                padding: 3px 12px;
                font-weight: $fw-600;
                text-transform: uppercase;
                font-size: $fs-4;

            }
        }

        &__autor {
            display: flex;
            flex-direction: row;
            gap: 30px;

            .artilce__data,
            .article__person {
                display: flex;
                gap: 10px;

                align-items: center;

                i {
                    color: $dark-orange;
                }

                span {
                    color: $black;
                    font-size: $fs-5;
                    font-weight: $fw-600;
                }

                transition: $transition-1;
                cursor: pointer;


                &:hover {

                    transition: $transition-1;

                    span {
                        color: $dark-orange;
                    }
                }
            }

        }

        &__title {

            font-size: $fs-3;
            line-height: 25px;
            color: $black;
            font-weight: $fw-600;
            cursor: pointer;
            transition: $transition-1;

            position: relative;


            &:hover {
                transition: $transition-1;
                opacity: 0.8;
                text-decoration: underline;
            }

        }

        &__read-more {

            display: flex;
            align-items: center;
            gap: 10px;
            color: $black;

            width: fit-content;
            cursor: pointer;


            span {
                font-size: $fs-4;
                font-weight: $fw-600;



            }

            i {
                font-size: 20px;
                line-height: 0px;

            }


            &:hover {


                gap: 20px;

                span,
                i {
                    color: $dark-orange;

                }


            }
        }


    }
}