/************************Section Hero************************/
/************************Section Hero************************/
/************************Section Hero************************/


.hero {

    background-image: url('/assets/img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    padding-block: 145px 60px;
    text-align: center;


    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 340px;
        margin-inline: auto;



        @include sm {
            max-width: 400px;
            padding: 0 15px;
            align-self: center;
        }


        @include md {
            position: relative;
            text-align: left;
            overflow: hidden;
            z-index: 1;
            margin-top: 25px;
            margin-inline: 0;

            padding: 0 20px;
        }

        // @include lg {
        //     padding: 0;
        // }



    }

    &__banner {
        display: none;


        @include md {
            display: block;
            position: absolute;
            top: calc(50% + 86px);
            transform: translateY(-50%);
        }


    }

    &__text {

        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
        background-color: yellowgreen;

        @include md {
            align-items: flex-start;
        }


    }

    &__subtitle {
        color: $dark-orange;
        font-family: $ff-shadows-into-light;
        font-size: $fs-2;
        letter-spacing: 1px;

        @include sm {
            font-size: $fs-1;
        }




    }

    &__title {
        color: $champagne-pink;
        font-size: $fs-1;
        margin-inline: auto;
        font-weight: $fw-600;


        @include sm {
            font-size: 4rem;
        }

    }

    &__p {
        color: $desert-sand;
    }


}