//Hero Section

.hero   
    .container 
        .row 
            .col-12.col-lg-12
                .hero__content 
                    .hero__text 
                        h3.hero__subtitle Eat Sleep And
                        h1.hero__title Supper delicious Burger in town!
                        p.hero__p Food is any substance consumed to provide nutritional support for an organism.
                        .btn.btn--hero 
                            span book a table
                     


                    //- .hero__banner
                    //-        img(src='assets/img/hero-banner.png' alt='Burger')
