//Footer

footer.footer 
    .container 
        .row 
            .col-12.col-lg-12 
                .footer__content
                    .footer__wrapper 
                        h2.wrapper__title Foodie
                            span .
                        p.wrapper__p Financial experts support or help you to to find out which way you can raise your funds more.
                        ul.wrapper__list-icon 
                            li.wrapper__item 
                                a(href="") 
                                     i.ri-facebook-fill  
                            li.wrapper__item 
                                a(href="") 
                                     i.ri-twitter-fill
                            li.wrapper__item 
                                a(href="") 
                                     i.ri-instagram-fill 
                            li.wrapper__item 
                                a(href="") 
                                    i.ri-pinterest-fill
                    .footer__wrapper 
                        h3.wrapper__subtitle Contact Info
                        ul.wrapper__list 
                            li.wrapper__item +1 (062) 109-9222
                            li.wrapper__item Info@YourGmail24.com
                            li.wrapper__item 153 Williamson Plaza, Maggieberg, MT 09514
                    .footer__wrapper 
                        h3.wrapper__subtitle Opening Hours
                        ul.wrapper__list 
                            li.wrapper__item Monday-Friday: 08:00-22:00
                            li.wrapper__item Tuesday 4PM: Till Mid Night
                            li.wrapper__item Saturday: 10:00-16:00    
                    .footer__wrapper 
                        form.footer-form(action='')
                            p.footer-list-title Book a Table
                            .input-wrapper
                                input.input-field(type='text' name='full_name' required='' placeholder='Your Name' aria-label='Your Name')
                                input.input-field(type='email' name='email_address' required='' placeholder='Email' aria-label='Email')
                            .input-wrapper
                                select.input-field(name='total_person' aria-label='Total person')
                                option(value='person') Person
                                option(value='2 person') 2 Person
                                option(value='3 person') 3 Person
                                option(value='4 person') 4 Person
                                option(value='5 person') 5 Person
                                input.input-field(type='date' name='booking_date' aria-label='Reservation date')
                            textarea.input-field(name='message' required='' placeholder='Message' aria-label='Message')
                            button.btn(type='submit') Book a Table
    .footer-bottom 
        h3.footer-bottom__title The site was written to document the experience 
            span Krzysztof Siek 2022

                                    








script(src="assets/js/main.min.js")