header.header.active(data-header='')
    .container 
        .row
            .header__content
                .header__logo 
                        a(href="index.html") 
                            .logo__title Foodie 
                            span .
                .nav__menu(data-navbar='')
                    .menu__item 
                        a(href="index.html") Home
                    .menu__item 
                        a(href="index.html") About Us
                    .menu__item 
                        a(href="index.html") Shop
                    .menu__item 
                        a(href="index.html") Blog
                    .menu__item 
                        a(href="index.html") Contact Us    
                .header__btn-group
                        .search-btn(arial-lebel="Search" data-search-btn)
                            i.icon__search.ri-search-line      
                        .btn.btn-hover 
                            span Reservation   
                        .nav-toggle-btn.active(arial-lebel="Toggle Menu" data-nav-toggle-btn) 
                            span.line.top 
                            span.line.middle    
                            span.line.bottom       

            
